{{ define "main" }}
<div class="content-group">
    <h1 class="title">{{ .Site.Title }}</h1>
    <p class="slogan">{{ .Site.Params.slogan }}</p>

    <img class="profile-image"
         src="imgs/einscat.png"
         alt="einscat"
         draggable="false">

    <div class="menu">
        {{with .Site.Params.menu}}
            {{range .}}
                {{if .active}}
                    <a href={{.path}}>
                        {{.icon}}
                        {{if .Site.Params.en }}
                            {{.en}}
                        {{else}}
                            {{.zh}}
                        {{ end }}
                    </a>
                {{end}}
            {{end}}
        {{else}}
            <a href="/nav">🎯
                {{if .Site.Params.en }}
                    Nav
                {{ else }}
                    导航
                {{ end }}
            </a>
        {{ end }}
    </div>
</div>
{{ end }}
